@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');
/*General*/

body {
  background: #fff;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  font: Helvetica Neue, Helvectica, Arial, serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  color: #8d9aa5;
  text-align: center;
}

div {
  padding: 1rem 0;
}

label {
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 2rem 0;
}

input {
  padding: .5rem;
  width: 50%;
  text-align: center;
}

ol {
  display: inline-block;
}

a {
  color: #3f8aBf;
  text-decoration: none;
}

a:hover {
  color: #3079ab;
}

a:visited {
  color: #5a6772;
}

button {
  margin: 1.5rem;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem;
  color: #FFF;
  background-color: tomato;
  width: 20%;
}

h1, h2, h3 {
  font-weight: 500;
  color: #384047;
}

h1 {
  font-size: 1.8em;
  margin: 60px 0 40px;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding: 30px 0 10px 0;
}

#home h2 {
  margin: -40px 0 0;
}

h3 {
  font-size: .9em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h3 em {
  font-style: normal;
  font-weight: 300;
  margin: 0 0 10px 5px;
  padding: 0;
  color: #8d9aa5;
}

ol {
  margin: 0 0 20px 32px;
  padding: 0;
}

#home ol {
  list-style-type: none;
  margin: 0 0 40px 0;
}

li {
  padding: 8px 0;
  display: list-item;
  width: 100%;
  margin: 0;
  counter-increment: step-counter;
}

#home li::before {
  content: counter(step-counter);
  font-size: .65em;
  color: #fff;
  font-weight: 300;
  padding: 2px 6px;
  margin: 0 18px 0 0;
  border-radius: 3px;
  background: #8d9aa5;
  line-height: 1em;
}

.lens {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #8d9aa5;
  border-radius: 5px;
  position: absolute;
  margin: 5px 0 0 -19px;
}

#color div {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
}

span {
  color: red;
}

.hidden {
  display: none;
}

.show {
  margin: auto;
  display: block;
}

div.card-type {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 30%;
  border: 2px solid gray;
  height: 15rem;
}

div[class="card-type"]>span {
  position: absolute;
}

div[class="card-type"]>span:nth-child(1) {
  top: 0;
  left: 0;
}

div[class="card-type"]>span:nth-child(2) {
  top: 0;
  right: 0;
}

div[class="card-type"]>span:nth-last-child(2) {
  bottom: 0;
  left: 0;
}

div[class="card-type"]>span:nth-last-child(1) {
  bottom: 0;
  right: 0;
}

ul {
  list-style: none;
}

.card-holder {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 0px;
}